<app-small-header [title]="$any('adadad')"></app-small-header>
<div id="post-page">

  <button mat-button routerLink="/blog">Вернуться</button>

  <div class="info">
    <h3 class="date">05.07.2020</h3>
  </div>
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, aspernatur at consectetur corporis deleniti, doloribus eius id illum mollitia, necessitatibus quaerat quas quasi repellendus similique velit voluptate voluptates! Accusamus accusantium alias aliquid blanditiis cum eaque et eveniet, fuga ipsa, maiores molestiae optio perferendis quos sunt vitae voluptates voluptatibus. Numquam, odit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, aspernatur at consectetur corporis deleniti, doloribus eius id illum mollitia, necessitatibus quaerat quas quasi repellendus similique velit voluptate voluptates! Accusamus accusantium alias aliquid blanditiis cum eaque et eveniet, fuga ipsa, maiores molestiae optio perferendis quos sunt vitae voluptates voluptatibus. Numquam, odit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, aspernatur at consectetur corporis deleniti, doloribus eius id illum mollitia, necessitatibus quaerat quas quasi repellendus similique velit voluptate voluptates! Accusamus accusantium alias aliquid blanditiis cum eaque et eveniet, fuga ipsa, maiores molestiae optio perferendis quos sunt vitae voluptates voluptatibus. Numquam, odit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, aspernatur at consectetur corporis deleniti, doloribus eius id illum mollitia, necessitatibus quaerat quas quasi repellendus similique velit voluptate voluptates! Accusamus accusantium alias aliquid blanditiis cum eaque et eveniet, fuga ipsa, maiores molestiae optio perferendis quos sunt vitae voluptates voluptatibus. Numquam, odit.</p>
  </div>
</div>
