<div id="not-found-page" style="background-image: url('https://i.redd.it/naqovzeab5r21.jpg')">
  <div class="left"></div>
  <div class="right">
    <h1>404</h1>
    <ul  class="menu">
      <li class="menu-item" [routerLink]="'/'">
        {{'shared.main_page' | translate}}
      </li>
      <li class="menu-item" [routerLink]="'/about-us'">
        {{'shared.about_us' | translate}}
      </li>
      <li class="menu-item" [routerLink]="'/our-services'">
        {{'shared.our_services' | translate}}
      </li>
    </ul>
  </div>
</div>
