<div id="admin_create_page">
  <div class="admin-container">

      <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="submit()">

          <mat-form-field appearance="fill">
            <mat-label>{{'shared.post_name' |translate}}</mat-label>
            <input matInput [formControlName]="'title'">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>{{'shared.category' |translate}}</mat-label>
            <mat-select [formControlName]="'category'">
              <mat-option value="1">cat 1</mat-option>
              <mat-option value="2">cat 2</mat-option>
              <mat-option value="3">cat 3</mat-option>
              <mat-option value="4">cat 4</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
            <div class="fill">
            <quill-editor [formControlName]="'text'"></quill-editor>
            </div>


          <button
            class="center mt-20"
            mat-flat-button color="primary"
            type="submit"
            [disabled]="form.invalid"
          >{{'shared.save' | translate}}</button>

        </form>
      </div>

  </div>
</div>
