<div class="post-box">
  <div class="header">
    <h2>Post title</h2>
  </div>

  <div>
    <p>post data</p>
  </div>

  <button
    [routerLink]="['/blog', 12312]"
    class="btn btn-dark"
  >
    Читать
  </button>
</div>
