<div data-aos="fade-left"
     [attr.data-aos-anchor]="'#' + aos_toggle"
     [attr.data-aos-delay]="aosDelay"
     class="card"
     [class.small]="!text"
     [@shadow]="action"
     (mouseover)="action='end'"
     (mouseout)="action='begin'"
>
  <div class="image">
      <img [src]="image" alt="{{ title | translate }} | bestsite.az">
  </div>
    <div class="info">
      <h3 class="title">{{ title | translate }}</h3>
      <p class="text">{{ text | translate }}</p>
    </div>
</div>
