<app-small-header [title]="'services.seo.title' | translate"></app-small-header>

<div class="w-100 overflow-hidden">
  <div class="section" *ngFor="let service of services; let i = index" [ngClass] = "{ 'bg-white shadow': isInteger(i)}">
    <div class="block marketing" [class.flex-reverse] = "isInteger(i)">
    <span class="big-card shadow" data-aos="dinam-fade-right">
      <h2 class="info">{{  'services.' + i + '.title' | translate }}</h2>
      <div class="text">
        <p style="text-align: justify" [innerHTML]="'services.' + i + '.text' | translate"></p>
      </div>
    </span>
      <span class="big-card shadow" data-aos="dinam-fade-left">
      <div class="image">
          <img [src]="service.image" [alt]="'services.' + i + '.title' | translate">
      </div>
    </span>
    </div>
  </div>

  <div class="slider-section mb-0 mt-0 pt-0">
    <div class="slider-block">
      <app-swiper-companies></app-swiper-companies>
    </div>
  </div>
</div>

<!--<div class="slider-section mb-0 mt-0 pt-0">-->
<!--  <div class="slider-block">-->
<!--    <app-swiper-companies [companies]="companies"></app-swiper-companies>-->
<!--  </div>-->
<!--</div>-->
