<div  class="swiper-container home-page-slider" data-aos="fade-up" [swiper]="config" >
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url('/assets/images/5abf5c0118084ca2a280d8351da49b9b.jpg')"></div>
    <div class="swiper-slide" style="background-image: url('/assets/images/8WVj08Oy0i5ayj6CxmYMwA.jpg')"></div>
    <div class="swiper-slide" style="background-image: url('/assets/images/296947_SfqKby03lr_2610.jpg')"></div>
    <div class="swiper-slide" style="background-image: url('/assets/images/db6461f1f95f480b9c4115602f6dea22.jpg')"></div>
  </div>
</div>
