@import '~swiper/css/swiper.min.css';

.home-page-slider{
  width: 90%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  border-radius: 5px;
  overflow: hidden;
}

.swiper-slide{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100% !important;
  border-radius: 5px;
}
