<div>
  <div class="technologies-single" *ngFor="let technology of technologies">
    <div data-aos="zoom-in-up">
      <img [src]="technology.icon || ''" [alt]="technology.name || ''">
      <h3>{{ technology.name }}</h3>
    </div>
  </div>
</div>
