.technologies-single{
  display: inline-flex;
  flex-direction: column;
  transition: .2s ease-in;
  cursor: pointer;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  opacity: .7;
  border-radius: 5px;
  img{
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 120px;

  }
  h3{
    width: 100%;
    margin: 0;
  }

  &:hover{
    position: relative;
    transform: translateY(-5px);
    box-shadow: rgba(0, 21, 22, 0.20) 0 0 14px 1px;
    opacity: 1;
  }

  .sprite {
    background-image: url(/assets/icons/technologies/spritesheet_1.png);
    background-repeat: no-repeat;
    display: block;
  }

  .sprite-angular-152x152 {
    width: 152px;
    height: 152px;
    background-position: -5px -5px;
  }

  .sprite-css-logo {
    width: 152px;
    height: 152px;
    background-position: -167px -5px;
  }

  .sprite-dle-logo {
    width: 152px;
    height: 152px;
    background-position: -329px -5px;
  }

  .sprite-html-logo {
    width: 152px;
    height: 152px;
    background-position: -5px -167px;
  }

  .sprite-js-logo {
    width: 152px;
    height: 152px;
    background-position: -167px -167px;
  }

  .sprite-laravel {
    width: 152px;
    height: 152px;
    background-position: -336px -163px;
  }

  .sprite-php-logo {
    width: 152px;
    height: 152px;
    background-position: -5px -351px;
  }

  .sprite-react-logo {
    width: 152px;
    height: 152px;
    background-position: -167px -351px;
  }

  .sprite-vue-logo {
    width: 152px;
    height: 152px;
    background-position: -329px -351px;
  }

  .sprite-wp-logo {
    width: 152px;
    height: 152px;
    background-position: -491px -5px;
  }

}
