
[data-aos="dinam-fade-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    opacity: 1;
  }
  @media screen and (min-width: 768px) {
    transform: translateX(-100px);
    &.aos-animate {
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 768px) {
    transform: translateY(100px);
    &.aos-animate {
      transform: translateX(0);
    }
  }
}

[data-aos="dinam-fade-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    opacity: 1;
  }
  @media screen and (min-width: 768px) {
    transform: translateX(100px);
    &.aos-animate {
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 768px) {
    transform: translateY(100px);
    &.aos-animate {
      transform: translateX(0);
    }
  }
}

.flex-reverse{
  [data-aos="dinam-fade-left"] {
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
      opacity: 1;
    }
    @media screen and (min-width: 768px) {
      transform: translateX(-100px);
      &.aos-animate {
        transform: translateX(0);
      }
    }
    @media screen and (max-width: 768px) {
      transform: translateY(100px);
      &.aos-animate {
        transform: translateX(0);
      }
    }
  }

  [data-aos="dinam-fade-right"] {
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
      opacity: 1;
    }
    @media screen and (min-width: 768px) {
      transform: translateX(100px);
      &.aos-animate {
        transform: translateX(0);
      }
    }
  }
}

// Long fades

[data-aos="long-fade-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-100%);
  &.aos-animate {
    opacity: 1;
    transform: translateX(0);
  }
}
[data-aos="long-fade-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(100%);
  &.aos-animate {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes move-right-infinit {
  0%   {left: -65%}
  //25%  {left: -8px}
  //50%  {left: -12px}
  //75%  {left: -8px}
  100% {left: 100%}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes spin2 {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

// Animgrad
@-webkit-keyframes animgrad {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes animgrad {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-o-keyframes animgrad {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes animgrad {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
