@media (min-width: 1200px) {
  #not-found-page > div {
    &.right{
      h1 {
        font-size: 25rem;
      }
      .menu{
        text-align: right;
        li{
          margin: 15px 0;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  #not-found-page > div {
    &.right{
      h1 {
        //font-size: 25rem;
      }
      .menu{
        text-align: right;
        li{
          margin: 15px 0;
        }
      }
    }
  }
  .block{
    .big-card{
      .text{
        padding: 0;
      }
    }
  }
}
@media (min-width: 769px) {
  #top-mob-menu-btn{
    display: none;
  }
  .flex-reverse{
    flex-direction: row-reverse;
  }
}
@media (max-width: 768px) {
  #go_up_icon{
    bottom: 10px;
    right: 10px;
    width: 70px;
  }
  .section .block app-technologies .technologies-single{
    img{
      max-width: 110px;
      max-height: 110px;
    }
  }
  .slider-section .slider-block{
    padding: 0 1rem;
  }
  mat-toolbar-row{
    >a.logo{
      margin-right: auto;
    }
  }
  mat-toolbar-row .menu-item{
    display: none;
  }
  .example-fill-remaining-space {
    display: none;
  }
  .mat-toolbar-row{
    .menu-item{
      display: none;
    }
  }
  #not-found-page > div {
    &.right{
      padding: 30px 0;
      align-items: center;
    }
  }
  .flex-reverse{
    flex-direction: column-reverse;
  }
  .home-header{
    margin-bottom: 0;
    .content{
      .brand{
        font-size: 2rem;
      }
      .title{
        font-size: 0.75em;
      }
    }
  }
  .swiper-container.home-page-slider.swiper-container-initialized{
    display: none;
  }
  .block{
    flex-direction: column;
    padding: 0 0.5rem;
    .big-card{
      width: 100%;
      flex: unset;
      ul{
        padding: 0;
      }
    }
    &.portfolio{
      align-items: center;
    }
  }
  .footer-wrapper .footer{
    text-align: left;
    .col{
      width: 100%;
    }
  }
  .under-footer{
    font-size: 12px;
  }
  #not-found-page{
    flex-direction: column;
    justify-content: center;
    > div{
      flex: unset;
      .menu{
        text-align: center;
      }
    }
  }
}

@media (max-width: 375px) {
  #go_up_icon{
    bottom: 10px;
    right: 10px;
    width: 60px;
  }
  #lang{
    margin-left: auto;
  }
  mat-toolbar-row{
    .logo{
      display: none;
    }
  }

  label{
    margin-left: auto;
  }
  .block .card-wrapper {
    app-card{
      max-width: 280px;
      .card{
        width: unset;
        max-width: 360px;
        &.small{
          width: 250px;
        }
      }
    }
  }
}

#sidenav{
  .logo{
    display: block;
  }
}
