<mat-sidenav-container >
  <mat-sidenav id="sidenav" mode="push" [(opened)]="opened">
    <a class="logo" [routerLink]="'/'"><img src="/assets/logo.svg" alt="Bestsite logo"></a>

    <button class="menu-item" mat-button [routerLink]="'/'" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{'shared.main_page' | translate}}</button >
    <button class="menu-item" mat-button [routerLink]="'/about-us'" routerLinkActive="active">{{'shared.about_us' | translate}}</button >
    <button class="menu-item" mat-button [routerLink]="'/our-services'" routerLinkActive="active">Наши услуги</button >
<!--    <button class="menu-item" mat-button [routerLink]="'/blog'" routerLinkActive="active">Блог</button>-->
    <!--    <button data-aos="fade-down" class="menu-item" mat-button [routerLink]="'/admin'">Login</button >-->
  </mat-sidenav>
  <mat-sidenav-content id="top">
    <mat-progress-bar *ngIf="pageLoaded" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar color="primary" [class]="{ 'toolbar-far-of-top': toolbarFarOfTopAndHome() }">
      <mat-toolbar-row>
        <button id="top-mob-menu-btn" (click)="opened=!opened" mat-button id="top-mob-menu-btn">
          <mat-icon style="color: white">menu</mat-icon>
        </button>
        <a class="logo" routerLink="/">
          <div class="animated-logo" style="height: 100%;">
            <img id="logo_back" class="logo_pies" src="/assets/icon/logo_white/logo_back.svg" alt="Bestsite logo">
            <img id="logo_bottom_tri" class="logo_pies" src="/assets/icon/logo_white/logo_bottom_tri.svg" alt="Bestsite logo">
            <img id="logo_top_tri" class="logo_pies" src="/assets/icon/logo_white/logo_top_tri.svg" alt="Bestsite logo">
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="201" height="86" viewBox="0 0 201 86">
            <defs>
              <filter id="Bestsite" x="0" y="0" width="201" height="86" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
            </defs>
            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Bestsite)">
              <text id="Bestsite-2" data-name="Bestsite" transform="translate(10 59)" fill="#fff" stroke="#0a3044" stroke-width="1" font-size="50" font-family="Roboto-Regular, Roboto"><tspan x="0" y="0">Bestsite</tspan></text>
            </g>
          </svg>
        </a>

        <span class="example-fill-remaining-space"></span>
        <button class="menu-item" mat-button [routerLink]="'/'" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{'shared.main_page' | translate}}</button >
        <button class="menu-item" mat-button [routerLink]="'/about-us'" routerLinkActive="active">{{'shared.about_us' | translate}}</button >
        <button class="menu-item" mat-button [routerLink]="'/our-services'" routerLinkActive="active">Наши услуги</button >
<!--        <button class="menu-item" mat-button [routerLink]="'/blog'" routerLinkActive="active">Блог</button>-->
<!--        <button class="menu-item" mat-button [routerLink]="'/admin'">Login</button >-->
        <div id="lang">
          <div class="absolute">
            <span title="Другие языки еще не готовы">РУ</span>
<!--            <span *ngIf="currentLang === 'ru'; else nextelse">РУ</span>-->
<!--            <ng-template #nextelse>-->
<!--              <span *ngIf="currentLang !== 'ru'">{{ currentLang | uppercase }}</span>-->
<!--            </ng-template>-->
<!--            <ng-container *ngFor="let lang of langList$ | async">-->
<!--              <span *ngIf="lang.code !== currentLang" (click)="changeLang(lang.code)">{{ lang.name | uppercase }}</span>-->
<!--            </ng-container>-->
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
      <router-outlet #outlet="outlet"></router-outlet>
      <app-footer></app-footer>
      <div id="go_up_icon" (click)="smoothScroll('top')" class="fade-up"  [class]="{ 'active': fartherOfTop()}"><img src="/assets/icon/up.svg" alt="up"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
