<app-small-header [title]="'about.seo.title' | translate"></app-small-header>

<div class="w-100 overflow-hidden">
  <div class="section" data-aos="long-fade-left">
    <div class="block">
      <div class="single-card">
        <h2 class="title">{{'about.company.title' | translate}}</h2>
        <p class="text text-left">{{'about.company.text' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="section mt-0 pt-0 mb-0" data-aos="long-fade-left" data-aos-delay="300">
    <div class="block">
      <div class="single-card">
        <h2 class="title">{{'about.command.title' | translate}}</h2>
        <ul class="with-mark text-left">
          <p> {{'about.command.text.0' | translate}}</p>
          <li>{{'about.command.text.1' | translate}}</li>
          <li>{{'about.command.text.2' | translate}}</li>
          <li>{{'about.command.text.3' | translate}}</li>
          <li>{{'about.command.text.4' | translate}}</li>
          <li>{{'about.command.text.5' | translate}}</li>
          <li>{{'about.command.text.6' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="slider-section mb-0 mt-0 pt-0">
  <div class="slider-block">
    <app-swiper-companies></app-swiper-companies>
  </div>
</div>
