<div class="home-header">
  <swiper [config]="config">
    <div class="swiper-slide" *ngFor="let slide of slides; let i = index" [ngStyle]="{backgroundImage:'url(' + slide.background + ')'}">
      <div *ngIf="slide.filter" class="filter"></div>
      <div class="swiper-lazy">
        <div class="content" [style]="slide.style">
          <h2 class="brand slide-animate-right position-relative text-shadow" [style]="slide.style_h2">{{ slide.title[currentLang] }}</h2>
          <h3 class="title slide-animate-left position-relative text-shadow">{{ slide.description[currentLang] }}</h3>
        </div>
      </div>
    </div>
  </swiper>
</div>
