<div id="admin_login">
    <form class="login-container" [formGroup]="form" (ngSubmit)="submit()">

      <mat-error *ngIf="message">
        {{message | translate}}
      </mat-error>
      <mat-error *ngIf="auth.error$ | async as error">
        {{ error | translate }}
      </mat-error>

      <mat-form-field class="w-100" appearance="fill">
        <mat-label>{{'enter_your_email' | translate}}</mat-label>
        <input matInput placeholder="pat@example.com" [formControlName]="'email'">
        <mat-error *ngIf="form.get('email').touched && form.get('email').invalid">
          <span *ngIf="form.get('email').touched && form.get('email').errors.required">
            {{'field_cant_be_empty' | translate}}
          </span>
          <span *ngIf="form.get('email').touched && form.get('email').errors.email">
            {{'wrong_email' | translate}}
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mt-10" appearance="fill">
        <mat-label>{{'enter_your_password' | translate}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'password'">
        <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password').touched && form.get('password').invalid">
          {{'wrong_password' | translate}}
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button color="primary"
        type="submit"
        [disabled]="form.invalid || submitted"
      >{{'log_in' | translate}}</button>
    </form>
</div>
