#admin_login{
  position: relative;
  overflow: hidden;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background: #0a3044 url("https://i.pinimg.com/originals/f8/b6/9e/f8b69e6156999b84137f3f0a23701b75.jpg") no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-container{
    transition: .3s;
    border: 2px #BBD8DC solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    min-height: 250px;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    h1{
      font-size: 50px;
      font-weight: bold;
      margin: 0;
      user-select: none;
      font-style: italic;
      line-height: normal;
    }
    &:hover{
      background-color: #ffffffa3;
    }
  }
}

@keyframes push {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}
