.portfolio-single{
  position: relative;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  margin: 1rem;
  max-width: 250px;
  height: auto;
  background-color:#000;
  cursor: pointer;
  img{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: 700ms ease-out;
  }
  .title{
    position: absolute;
    display: inline-block;
    color: #fff;
    margin: auto;
    height: fit-content;
    padding: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 25px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.4s ease-in;
  }
  &:hover{
    .title{
      transform: translateY(0);
      opacity: 1;
    }
    img{
      opacity: .6;
      transform: scale(1.1);
    }
  }
}


@media (max-width: 599px) {
  .block .card-wrapper .card .info {
    justify-content: space-around;
  }
}
