<div *ngIf="!loading; else loadingc" class="mt-20">

  <div *ngIf="posts; else empty" class="mt-20">
    <div class="d-flex justify-center">
      <mat-form-field class="">
        <mat-label>{{'search' | translate}}</mat-label>
        <input matInput type="text" [(ngModel)]="searchStr">
        <button mat-button *ngIf="searchStr" matSuffix mat-icon-button aria-label="Clear" (click)="searchStr=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="posts | serchPosts:searchStr" class="mat-elevation-z8">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> {{'position' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> {{'title' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> {{'date' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{'actions' | translate}} </th>
        <td mat-cell *matCellDef="let element">  <a mat-button class="mr-10" (click)="edit(element.id)">Edit</a> <a mat-button color="warn" (click)="remove(element.id)">Delete</a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <ng-template #empty >
    <div class="d-flex justify-center align-items-center">
      У вас нет постов
    </div>
  </ng-template>

</div>

<ng-template #loadingc >
  <div class="d-flex justify-center align-items-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
