@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/theming';
//@include mat-core();

//$alternate-primary: mat-palette($mat-light-blue, 700);
//$alternate-accent:  mat-palette($mat-green, 400);
//$alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
//@include angular-material-theme($alternate-theme);
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.col{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

i.red-line{
  padding-left: 40px;
}

html, body { height: 100%; max-width: 2000px; margin: auto; background-color: #155171; min-width: 315px; }
body { margin: 0; font-family: 'Montserrat', sans-serif;}
img {width: 100%; height: 100%;}

*:focus{
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px !important;
  max-width: 8px !important;
  min-width: 8px !important;
  background: #fafafa;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e6e6e;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

// Default classes
.position-relative{
  position: relative !important;
}
.m-auto{
  margin: auto;
}
.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.flex-column{
  flex-direction: column;
}
.flex-row{
  flex-direction: row !important;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-center{
  justify-content: center;
}
.justify-evenly{
  justify-content: space-evenly;
}
.align-items-center{
  align-items: center;
}
.bg-white{
  background-color: #fff;
}
.text-center{
  text-shadow: 3px 3px 5px rgba(10, 48, 68, 0.7);
}
.text-shadow{
  text-shadow: 3px 3px 5px rgba(10, 48, 68, 0.7);
}
.fade-up{
  //must be position relative, fixed or absolute
  opacity: 0;
  transform: translateY(200px);
  transition: 0.5s ease-in;
  &.active{
    opacity: 1;
    transform: translateX(0);
  }
}
.with-mark{
  li{
    margin-left: 10px;
    cursor: default;
    &:before{
      content: "";
      display: inline-block;
      width: 5px;
      height: 5px;
      border: 1px solid #0a3044;
      margin-bottom: 2px;
      margin-right: 4px;
      border-radius: 50%;
    }
    &:hover{
      &:before{
        transition: .3s;
        background-color: #0a3044;
      }
    }
  }
}
.text-left{
  text-align: left;
}
a{
  color: #fff;
  text-decoration: none;
}
li{
  list-style-type: none;
}
.pt-0{
  padding-top: 0 !important;
}
.pb-40{
  padding-bottom: 40px !important;
}
.mt-0{
  margin-top: 0 !important;
}
.mt-10{
  margin-top: 10px !important;
}
.mt-20{
  margin-top: 20px !important;
}
.mr-10{
  margin-right: 10px !important;
}
.ml-10{
  margin-left: 10px !important;
}
.pl-10{
  padding-left: 10px !important;
}
.pl-20{
  padding-left: 20px !important;
}
.mb-0{
  margin-bottom: 0 !important;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.pointer-events-none{
  pointer-events: none;
}
.overflow-hidden{
  overflow: hidden;
}
.hover-shadow{
  transition: .3s ease-in !important;
  box-shadow: rgba(0, 0, 0, 0.34) -1px 7px 23px -6px;
  &:hover{
    transition: .6s !important;
    box-shadow: rgba(0, 0, 0, 0.14) -1px 7px 23px -6px;
  }
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.34) -1px 7px 23px -6px;

  .big-card.shadow {
    box-shadow: rgba(0, 0, 0, 0.34) 0 1px 20px -7px;
    transition: 1s ease-out;
    &:hover{
      box-shadow: rgba(0, 0, 0, 0.34) 0 1px 20px -4px;
    }
  }
}
.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.filter{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0a3044bf;
  &.off{
    background-color: transparent;
  }
}
// .flex-reverse : in mobile

.mat-drawer-container {
  background: rgb(242, 247, 252);
  &.mat-drawer-container-has-open{
    overflow: hidden;
  }
}

.mat-toolbar.mat-primary {
  position: fixed;
  transition: .5s ease-out;
  background: transparent;
  .mat-toolbar-row{
    height: 90px;
    transition: .5s ease-out;
    .mat-button{
      position: relative;
      font-size: 16px;
      transition: .5s ease-out;
      margin-right: 10px;
      &:after{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        border: 1px solid #ffffff;
        background-color: #fff;
        transform: scale(0);
        opacity: 0;
        transition: .4s ease;
      }
      &.active{
        &:after{
          bottom: 0;
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
  &.mat-toolbar-multiple-rows {
    min-height: 57px;
  }
  &.toolbar-far-of-top {
    box-shadow: rgba(0, 0, 0, 0.34) -1px 7px 23px -6px;
    backdrop-filter: blur(2px);
    background: rgba(10, 48, 68, 0.7);
    .mat-toolbar-row{
      height: 55px;
      transition: .5s ease-out;
      .mat-button{
        font-size: 14px;
        transition: .5s ease-out;
      }
    }
    .logo{
      transition: .6s;
      height: 87%;
    }
    .animated-logo{
      transition: .6s;
      width: 35px;
      .logo_pies{
        transition: .6s;
        position: absolute;
        &#logo_back_tri{

        }
        &#logo_bottom_tri{
          transition: .6s;
          right: -16px;
          top: 10px;
          width: 117%;
        }
        &#logo_top_tri{
          transition: .6s;
          right: -10px;
          top: -5px;
          width: 100%;
        }
      }
    }
  }
}
mat-sidenav {
  width: 200px;
  height: 100vh;
}
mat-toolbar {
  z-index: 10;
  position: relative;
}
mat-sidenav-content {
  min-height: 100vh;
}

.logo{
  display: flex;
  transition: .6s;
  height: 87%;
  img{
    width: auto;
  }
  svg{
    width: auto;
    height: 100%;
  }
}
.logo-text{
  height: 100%;
  width: auto;
  margin-left: 5px;
  svg{
    height: 100%;
    width: auto;
  }
}

.section {
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
  padding: 20px 0;
  color: #0a3044;
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #0a3044;
  }
  .mat-form-field.mat-focused .mat-form-field-label {
    color: #0a3044;
  }
}

.block{
  display: flex;
  text-align: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 1rem auto;
  padding: 0 5rem;
  h2.title{
    width: 100%;
    font-size: 24px;
  }
  p.text{
    font-size: 14px;
  }
  .big-card{
    flex: 1;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    border-radius: 5px;
    max-height: 400px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.34) -1px 7px 23px -6px;
    .info{
      font-size: 18px;
      line-height: inherit;
      margin-bottom: 0;
    }
    .text{
      font-size: 14px;
      padding: 0 40px;
      text-align: left;
      li{
        list-style-type: inherit;
        margin-bottom: 5px;
      }
    }
    .image{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 20px;
      img{
        border-radius: 5px;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
    &.bg-g1{
      background: rgb(255,255,255);
      background: linear-gradient(160deg, rgba(255,255,255,0) 0%, rgba(0,212,255,0.2777485994397759) 86%);
    }
  }
  .single-card{
    flex: 1;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    width: 100%;
    max-width: 768px;
    max-height: 400px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.34) -1px 7px 23px -6px;
    transition: box-shadow 0.6s ease-out;
    h2.title{
      margin: 0;
    }
    &.bg-g1{
      background: rgb(255,255,255);
      background: linear-gradient(160deg, rgba(255,255,255,0) 0%, rgba(0,212,255,0.2777485994397759) 86%);
    }
    &:hover{
      box-shadow: rgba(0, 0, 0, 0.24) -1px 7px 23px -6px;
    }
  }
  &.marketing{
    .big-card{
      background-color: #fff;
    }
  }
  @media (max-width: 768px) {
    .big-card{
      margin: 10px auto;
      max-width: 400px;
    }
  }
  .card-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    .card{
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 5px;
      min-height: 320px;
      width: 250px;
      margin: 10px auto;
      padding: 10px;
      background-color: #fff;
      flex-wrap: wrap;
      .image{
        img{
          border-radius: 5px;
          overflow: hidden;
        }
      }
      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 115px;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        .title{
          font-weight: 500;
          font-size: 22px;
          transition: font-size .3s ease-in-out;
          margin-bottom: 0;
        }
        .text{
          transition: .6s;
          height: 50px;
          font-size: 14px;
          margin-bottom: -100px;
          opacity: 0;
          visibility: hidden;
        }
        &:hover{
          .title{
            font-weight: 500;
            font-size: 18px;
          }
          .text{
            height: auto;
            transition: .3s;
            visibility: visible;
            position: inherit;
            margin-bottom: 0;
            opacity: 1;
          }
        }
      }
      &.small{
        cursor: pointer;
        width: 190px;
        min-height: 160px;
        .info{
          height: 100px;
          padding-top: 10px;
          .title{
            font-size: 16px;
            margin: auto;
          }
          .text{
            height: 0;
            margin: 0;
          }
          &:hover{
            .title{
              font-size: 16px;
              margin: auto;
            }
            .text{
              height: 0;
              font-size: 14px;
              margin-bottom: 0;
              opacity: 0;
              visibility: hidden;
            }
          }
        }
      }
    }
    app-card{
      padding: 0 10px;
    }
  }
  &.have-more{
    transition: .4s;
    overflow: hidden;
    max-height: 460px;
    margin-bottom: 14px;
    box-shadow: inset 0px -34px 18px -40px rgba(0, 0, 0, 0.37);
    &.opened{
      transition: 0.4s;
      overflow: hidden;
      max-height: 860px;
      margin-bottom: 14px;
      box-shadow: inset 0px -34px 18px -40px rgba(0, 0, 0, 0);
    }
  }
}

.animated-logo{
  transition: .6s;
  position: relative;
  width: 53px;
  height: 100%;
  margin-right: 5px;
  .logo_pies{
    transition: .6s;
    position: absolute;
    &#logo_back{
      left: 2px;
      top: 0;
      width: 100%;
    }
    &#logo_bottom_tri{
      transition: .6s;
      right: -19px;
      top: 15px;
      width: 117%;
    }
    &#logo_top_tri{
      transition: .6s;
      right: -10px;
      top: -5px;
      width: 100%;
      animation: move 7999ms ease-in-out infinite;
    }
  }
  &:hover{
    .logo_pies{
      &#logo_top_tri{
        animation: spin 888ms alternate-reverse ease;
      }
    }
  }
  &:not(:hover){
    .logo_pies{
      &#logo_top_tri{
        animation: spin2 999ms alternate ease-in;
      }
    }
  }
}

.footer-wrapper{
  display: block;
  .footer{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #0a3044;
    min-height: 450px;
    padding: 30px 30px 10px 30px;
    color: rgba(255, 255, 255, 1);
    overflow: hidden;
    .col{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 20px;
      justify-content: center;
      width: 200px;
      margin-bottom: 20px;
      .footer-elem{
        display: flex;
        flex-direction: column;
        width: 230px;
        justify-content: flex-start;
        margin: 10px;
        padding: 10px;
        a{
          position: relative;
          color: rgba(255, 255, 255, 1);
          transition: .3s ease-out;
          &:before{
            content: "";
            position: absolute;
            display: inline-block;
            left: -5px;
            width: 3px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.6);
            margin-right: 5px;
            opacity: 0;
            transform: scale(.8);
            transition: .3s ease-out;
          }
          margin: 2px 0;
          &:hover{
            padding-left: 10px;
            &:before{
              opacity: 1;
              background-color: #fff;
              transform: scale(1);
              left: 2px;
            }
          }
        }
        div{
          li{
            margin-bottom: 3px;
          }
        }
        a, li, p{
          color: rgba(255, 255, 255, 0.8);
          &:hover{
            color: rgba(255, 255, 255, 1);
          }
        }
        p{
          margin-top: 0;
        }
      }
      .footer-logo{
        margin-bottom: 15px;
        img{
          display: block;
          width: 180px;
          height: auto;
        }
      }
    }
    .contact{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      color: #fff;
      .title{
        width: 100%;
        font-size: 30px;
        text-align: center;
        color: #fff;
        margin-bottom: 52px;
      }
      .info{
        width: 100%;
        margin-bottom: 15px;
        color: #fff;
        flex-wrap: wrap;
        justify-content: center;
      }
      .icon{
        margin-right: 5px;
        width: 25px;
        height: 25px;
        svg{
          width: 100%;
          height: 100%;
          path{
            fill: #fff;
          }
        }
      }
    }
  }
  .under-footer{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 10px;
    color: #fff;
    background-color: #0a3044;
    border-top: 1px solid #fff;
  }
}

.home-header{
  position: relative;
  overflow: hidden;
  height: 657px;
  margin-bottom: -150px;
  z-index: 0;
  .swiper-slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .swiper-lazy{
      display: flex;
      justify-content: center;
      overflow: hidden;
      height: 100%;
      padding: 0 20px;
    }
    .slide-animate-left{
      opacity: 0;
      transform: translateX(200%);
      transition: opacity, transform 1s;
    }
    .slide-animate-right{
      opacity: 0;
      transform: translateX(-200%);
      transition: opacity, transform 1s;

    }
    &.swiper-slide-active{
      .slide-animate-left{
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
      }
      .slide-animate-right{
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
      }
    }
    &.swiper-slide-prev{
      .slide-animate-left{
        opacity: 1;
        transform: translateX(0);
        transform: translateY(200%);
      }
      .slide-animate-right{
        opacity: 1;
        transform: translateX(0);
        transform: translateY(-200%);
      }
    }
  }
  .content{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    max-width: 620px;
    .brand{
      margin: 0;
      line-height: initial;
      color: #fff;
      font-size: 2.5rem;
    }
    .title{
      font-size: 1rem;
      margin-top: 8px;
      margin-bottom: 36px;
    }
    h2, h3{
      margin: 0;
      color: white;
      font-size: 1em;
      line-height: initial;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
  .swiper-button-prev{
    display: none !important;
  }
  .swiper-button-next{
    display: none !important;
  }
}

#not-found-page{
  display: flex;
  padding-top: 85px;
  justify-content: right;
  flex-direction: row;
  min-height: calc(100vh - 64px);
  max-height: 2160px;
  background-image: url(https://i.redd.it/naqovzeab5r21.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  > div{
    flex: 1;
    &.right{
      padding: 30px 30px;
      align-items: flex-end;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    h1{
      line-height: 72%;
      color: #fad888;
      letter-spacing: normal;
      margin: 0 0 16px;
      font-size: 35vw;
      font-weight: 400;
    }
    .menu{
      position: relative;
      color: #fafafa;
      margin: 0;
      font-size: 30px;
      padding-right: 30px;
      text-align: right;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid;
        border-color: #e82727;
      }
      li{
        margin: 10px 0;
      }
    }
  }
}

.menu{
  .menu-item{
    cursor: pointer;
  }
}

#sidenav{
  position: fixed;
  .mat-drawer-inner-container{
    display: flex;
    flex-direction: column;
    .logo{
      width: 100%;
      display: flex;
      justify-content: center;
      height: 66px;
      background-color: #0a3044;
      img{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.slider-section {
  text-align: center;
  margin: 20px auto;
  padding: 20px 0;
  .slider-block{
    margin: 1rem auto;
    padding: 0 5rem;
    .title{
      margin-bottom: 0;
    }
    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
  }
}

#go_up_icon{
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 30px;
  right: 30px;
  width: 60px;
  z-index: 9;
  cursor: pointer;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}

#lang{
  position: relative;
  text-align: center;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  padding: 0 5px;
  .absolute{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 33px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #0a3044;
    transition: .3s;
    span:nth-child(n + 1){
      cursor: pointer;
    }
  }
  &:hover{
    .absolute{
      transition: .3s;
      max-height: 100px;
      border: 1px solid;
    }
  }
}

app-contact-us{
  display: flex;
  width: 100%;
  justify-content: center;
  .container{
    mat-form-field{
      margin: 0 20px 20px;
      width: 250px;
    }
  }
}

#small-header{
  position: relative;
  padding: 140px 40px 100px 40px;
  margin-bottom: 40px;

  // Animation
  background: linear-gradient(86deg, #061325, #0a3044, #012434);
  background-size: 600% 600%;

  -webkit-animation: animgrad 46s ease infinite;
  -moz-animation: animgrad 46s ease infinite;
  -o-animation: animgrad 46s ease infinite;
  animation: animgrad 46s ease infinite;

  .title{
    position: relative;
    text-align: center;
    color: #fff;
    overflow: hidden;
    padding: 10px;
    &:after{
      content: "";
      width: 65px;
      position: absolute;
      bottom: 0;
      left: -65%;
      border: 2px solid #ffffffb5;
      animation: move-right-infinit 2s infinite ease-out;
    }
  }
}

// Mobile styles
@import "./styles/custom_animations";
@import '~swiper/css/swiper.min.css';
@import "./styles/_mobile";

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif;}
