<h1 style="visibility: hidden; position: absolute">{{'home.seo_title' | translate}}</h1>

<app-top-slider></app-top-slider>

<!--<app-slider></app-slider>-->

<!--<div class="section">-->
<!--  <div class="block">-->
<!--    <span>-->
<!--      <h1 class="title">Создание сайтов по последним техногиям и тенденциям</h1>-->
<!--    </span>-->
<!--  </div>-->
<!--</div>-->

<div class="section">
  <div class="block marketing">
    <span class="big-card shadow" data-aos="dinam-fade-right">
      <h2 class="info">{{ 'home.why_you_need_site_title' | translate }}</h2>
      <div class="text">
        <p style="text-align: justify" [innerHTML]="'home.why_you_need_site_text' | translate"></p>
      </div>
    </span>
    <span class="big-card shadow" data-aos="dinam-fade-left">
      <div class="image">
          <img src="/assets/images/18907.jpg" [alt]="'home.modern_sites' | translate">
      </div>
    </span>
  </div>
</div>

<div class="section pt-0 mt-0">
  <div class="block flex-column pt-0 mt-0">
    <h2 class="title pt-0 mt-0">{{ 'home.what_you_interested_title' | translate }}</h2>
    <p class="text">{{ 'home.what_you_interested_text' | translate }}</p>
    <div class="card-wrapper" id="card-toggle1">
      <app-card *ngFor="let card of site_types let i = index" aos_toggle="card-toggle1" [aosDelay]="i*300" [image]="card.image" [title]="card.title" [text]="card.text" [appScrollToId]="'footer_contact'"></app-card>
    </div>
  </div>
</div>

<div class="section bg-white shadow">
  <div class="block portfolio flex-wrap justify-center" [class]="{'opened': portfolio_block_opened}">
    <h2 class="title w-100">{{ "home.our_work" | translate }}</h2>
<!--Картинки грузим в папку (assets/images) и добавляем в путь [image_src]-->
    <div class="col">
      <app-portfolio-single data-aos="zoom-in-up"  [image_src]="'/assets/images/portfolio_1.jpg'" [title]="'Наше портфолио'"></app-portfolio-single>
      <app-portfolio-single data-aos="zoom-in-up"  [image_src]="'/assets/images/portfolio_6.jpg'" [title]="'Наше портфолио'"></app-portfolio-single>
    </div>
    <div class="col">
      <app-portfolio-single data-aos="zoom-in-up"  [image_src]="'/assets/images/portfolio_5.jpg'" [title]="'Наше портфолио'"></app-portfolio-single>
      <app-portfolio-single data-aos="zoom-in-up" url="https://gikmir.ru"  image_src="/assets/images/portfolio_4.jpg" title="GIKMIR.RU"></app-portfolio-single>
    </div>
<!--    <app-portfolio-single data-aos="zoom-in-up"  [image_src]="'/assets/images/portfolio_5.jpg'" [title]="'Наше портфолио'"></app-portfolio-single>-->
<!--    <app-portfolio-single data-aos="zoom-in-up"  [image_src]="'/assets/images/portfolio_6.jpg'" [title]="'Наше портфолио'"></app-portfolio-single>-->
  </div>
  <div class="w-100 mt-20 d-flex justify-center" data-aos="fade-up">
<!--    <button mat-raised-button>{{ "home.get_to_all_list" | translate }}</button>-->
  </div>
</div>

<div class="section">
  <div class="block marketing flex-reverse">
    <div class="big-card" data-aos="dinam-fade-right">
      <h2 class="info">{{ 'home.advantages_of_our_sites_title' | translate }}</h2>
      <div class="text">
        <ol>
          <li>{{ 'home.advantages_of_our_sites_text.0' | translate }}</li>
          <li>{{ 'home.advantages_of_our_sites_text.1' | translate }}</li>
          <li>{{ 'home.advantages_of_our_sites_text.2' | translate }}</li>
          <li>{{ 'home.advantages_of_our_sites_text.3' | translate }}</li>
        </ol>
      </div>
    </div>
    <div class="big-card" data-aos="dinam-fade-left">
      <div class="image">
        <img src="/assets/images/3556960.jpg" alt="bestsites">
      </div>
    </div>
  </div>
</div>

<div class="section pt-0 mt-0">
  <div class="block flex-column pt-0 mt-0">
    <h2 class="title pt-0 mt-0">{{ 'home.our_services_title' | translate }}</h2>
    <p class="text">{{ 'home.our_services_text' | translate }}</p>
    <div class="card-wrapper" id="card-toggle">
      <app-card *ngFor="let card of cards let i = index" aos_toggle="card-toggle" [aosDelay]="i*300" [image]="card.image" [title]="card.title" [text]="card.text"></app-card>
    </div>
  </div>
</div>

<div class="section bg-white shadow">
  <div class="block flex-row flex-wrap justify-center">
    <h2 class="title">{{ "home.our_technologies" | translate }}</h2>
    <!--Картинки грузим в папку (assets/images) и добавляем в путь [image_src]-->
    <app-technologies [technologies] = technologies ></app-technologies>
  </div>
</div>

<div class="slider-section mb-0">
  <div class="slider-block">
    <app-swiper-companies></app-swiper-companies>
  </div>
</div>

