<div class="container">

  <mat-form-field data-aos="fade-up" hintLabel="Max 24 {{'contact.max_characters' | translate}}">
    <mat-label>{{'contact.enter_name' | translate}}</mat-label>
    <input matInput #input maxlength="24" placeholder="{{'contact.ex_name' | translate}}">
    <mat-hint align="end">{{input.value?.length || 0}}/24</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field data-aos="fade-up">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
