<div id="main_block">

  <mat-toolbar *ngIf="auth.isAuthenticated()">
    <mat-toolbar-row id="admin_top_menu">
      <div class="example-fill-remaining-space"></div>
      <div class="admin-top-menu" >
        <a [routerLink]="['/admin', 'dashboard']" mat-button mat-stroked-button> Главная </a>
        <a [routerLink]="['/admin', 'create']" mat-button mat-stroked-button> Создать </a>
        <a href="javascript:void(0)" (click)="logout()" mat-button mat-stroked-button color="warn"> Выйти </a>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>

  <router-outlet></router-outlet>

</div>
